
body {    
    background: linear-gradient(180deg, #181819 67.71%, #331859 82.11%);
}

*{
    list-style:none;
}

a {
    color: #fff;
    text-decoration: none !important;
}

a:hover {
    color: #C60DE2;
    
}


.jumbotron-fluid {
    background: linear-gradient(180deg, rgba(198, 13, 226, 0.58) 0%, rgba(242, 148, 209, 0) 94.27%);
}

.bg-gradient {
    background: linear-gradient(180deg, rgba(198, 13, 226, 0.58) 0%, rgba(242, 148, 209, 0) 94.27%);
}





